<configuration>
  <connectionStrings>
    <add name="GPS.Data.My.MySettings.GPSWebConnectionString" connectionString="Data Source=TOSHIBA-PC\SQLEXPRESS2012;Initial Catalog=Posicionamientos;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="GPSDataOSM.My.MySettings.DireccionesConnectionString"
            connectionString="Data Source=TOSHIBA-PC\SQLEXPRESS2012;Initial Catalog=Direcciones;Integrated Security=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="nattyco@gmail.com">
        <network defaultCredentials="true" host="smtp.gmail.com" port="587" userName="" password=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
