<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GPS.Data.Properties.Settings.GPSWebConnectionString"
            connectionString="Data Source=NATALIA-PC\SQLEXPRESS2008;Initial Catalog=GPSWeb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>